body {
    background-color: whitesmoke;
}

h1 {
    color: blue;
}

p {
    color: red;
    border: 1px solid white;
}

table {
    border-color: darkblue;
}

#Tr_id {
    border: 1px thistle;
}

table,
th,
td {
    border: 1px solid black;
    padding: 5px;
}

table {
    border-spacing: 15px;
}